<h1>Edit Post</h1>

<%= form_for @slama do |h| %>
<p>
  <%= h.label :name %><br>
  <%= h.text_field :name %>
</p>
<p>
  <%= h.label :email %><br>
  <%= h.text_field :email %>
</p>
<p>
  <%= h.label :passout_year %><br>
  <%= h.text_field :passyear %>
</p>
<p>
  <%= h.submit "Update Your Details" %>
</p>
<% end %>
